Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [9]:
#string 

str="Ritik"

#list

list1=[1,2,3,4,'a',"ritik"]

#float

a=9.26

#tuple
tup=(1,2,3,4,4)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

In [11]:
var1=''
type(var1)

str

In [12]:
var2='[ DS , ML , Python]'
type(var2)

str

In [13]:
var3=['DS','ML','PYTHON']
type(var3)

list

In [14]:
var4 = 1
type(var4)

int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [15]:
a=20
b=10 


print(a/b)

print(a%b)

print(a//b)

print(a**b)

2.0
0
2
10240000000000

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [17]:
list1=[1,3,4,5,6,7,7.56,8,'ritik','sonal','saurabh','priyansh']
for i in list1:
    print(i ," -> " , type(i))

1  ->  <class 'int'>
3  ->  <class 'int'>
4  ->  <class 'int'>
5  ->  <class 'int'>
6  ->  <class 'int'>
7  ->  <class 'int'>
7.56  ->  <class 'float'>
8  ->  <class 'int'>
ritik  ->  <class 'str'>
sonal  ->  <class 'str'>
saurabh  ->  <class 'str'>
priyansh  ->  <class 'str'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [18]:
A = 100  # Example value for A
B = 5    # Example value for B

# Initialize the count to 0
count = 0

# Use a while loop to divide A by B as long as A is divisible by B
while A % B == 0:
    A = A // B
    count += 1

# Output the result
print(f"The number is divisible {count} times.")

The number is divisible 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [19]:
int_list = [i for i in range(1, 26)]  # Example list with values from 1 to 25

# Iterate over the list and check divisibility by 3
for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable Data Types

Mutable data types are those that allow you to change their content without changing their identity. In other words, you can modify their elements, and the object itself will remain the same in memory.

Examples of Mutable Data Types:

1. List
2. Dictionary
3. Set

In [20]:
# Create a list
my_list = [1, 2, 3]

# Modify the list
my_list[0] = 10

print(my_list)  # Output: [10, 2, 3]

[10, 2, 3]

Immutable Data Types

Immutable data types are those that do not allow modification after they are created. Any attempt to change their content results in the creation of a new object.

Examples of Immutable Data Types:

1. String
2. Tuple
3. Integer
4. Float

In [21]:
# Create a string
my_string = "Hello"

# Attempt to modify the string
# This creates a new string object rather than modifying the original one
new_string = my_string + " World"

print(my_string)   # Output: "Hello"
print(new_string)  # Output: "Hello World"

Hello
Hello World