Q1. How do you comment code in Python? What are the different types of comments?

In [1]:
 #single line comment

In [4]:

"""
Multiline 
comment
"""
print('THIS IS MULTILINE COMMENT')

THIS IS MULTILINE COMMENT

What are variables in Python? How do you declare and assign values to variables?

variables are used to store data values. They act as containers for data that can be referenced and manipulated throughout a program. Variables in Python do not need explicit declaration to reserve memory space. The declaration happens automatically when you assign a value to a variable.

In [1]:
# Declaring and assigning values to variables
name = "John"
age = 30
height = 5.9
is_employed = True

# Printing the values of the variables
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Employed:", is_employed)

Name: John
Age: 30
Height: 5.9
Is Employed: True

How do you convert one data type to another in Python?

you can convert one data type to another using various built-in functions. This process is known as type casting or type conversion. Below are the common functions used for type conversion:

In [2]:
# From string
num_str = "123"
num_int = int(num_str)
print(num_int)  # Output: 123

# From float
num_float = 123.45
num_int = int(num_float)
print(num_int)  # Output: 123 (note: it truncates the decimal part)

123
123

Q4. How do you write and execute a Python script from the command line?

# hello.py
print("Hello, World!")

cd C:\Users\YourUsername\Scripts
python hello.py

Q5 Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [8]:
my_list = [1, 2, 3, 4, 5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In mathematics, a complex number is a number of the form 

a+bi, where:


a and 

b are real numbers.
ùëñ is the imaginary unit, satisfying 
ùëñ
2
=
‚àí
1
i 
2
 =‚àí1.
The number 
ùëé
a is called the real part of the complex number, and 
ùëè
b is called the imaginary part.

In [9]:
# Directly
z1 = 3 + 4j

# Using the complex() function
z2 = complex(3, 4)

In [10]:
z1

(3+4j)

In [11]:
z2

(3+4j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

The correct way to declare a variable named age and assign the value 25 to it in Python is straightforward. You use the assignment operator = to assign the value to the variable. Here is how you do it:
    age = 25

In [13]:
# Declaring the variable 'age' and assigning the value 25 to it
age = 25

# Printing the value of 'age' to verify the assignment
print("The value of age is:", age)

The value of age is: 25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [14]:
price = 9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [15]:
name = "Ritik Kumar"
print(name)

Ritik Kumar

Q10. Given the string "Hello, World!", extract the substring "World".

In [16]:
string = "Hello, World!"
string[7:-1]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [18]:
is_student = True
type(is_student)

bool